.messageContainer {
  padding: 0.25rem var(--mantine-spacing-xs) !important;
  max-width: 70% !important;
  border: 1px solid transparent;
  background-color: var(--mantine-color-gray-3) !important;
  color: var(--mantine-color-gray-8) !important;
}

.messageMine {
  background-color: var(--mantine-color-blue-2) !important;
}

.messageExtraContent {
  border-top: 1px solid var(--mantine-color-gray-2);
  border-right: 1px solid var(--mantine-color-gray-2);
  border-left: 1px solid var(--mantine-color-gray-2);
  background-color: var(--mantine-color-gray-2) !important;
}
